In [1]:
# Exercise_2.ipynb
# This is the Solution file for Exercise 2 of course:
# Machine Learning I (DATS 6202, Spring 2018)
# Data Science @ George Washington University
# Author: Yuxiao Huang

In [2]:
# Reference:
# The code is from the "Python Machine Learning (2nd edition)" book code repository and info resource
# with some trivial changes by Yuxiao Huang

# Please find the reference to and website of the book below:
# Raschka S. and Mirjalili V. (2017). Python Machine Learning. 2nd Edition.
# https://sebastianraschka.com/books.html

# Please find the website of the book code repository and info resource below:
# https://github.com/rasbt/python-machine-learning-book-2nd-edition

In [3]:
import pandas as pd

# Load Breast Cancer Wisconsin (Diagnostic) Data and show the first five rows
df = pd.read_csv('http://archive.ics.uci.edu/ml/machine-learning-databases/breast-cancer-wisconsin/breast-cancer-wisconsin.data', header=None)
df.head()

        0   1   2   3   4   5   6   7   8   9   10
0  1000025   5   1   1   1   2   1   3   1   1   2
1  1002945   5   4   4   5   7  10   3   2   1   2
2  1015425   3   1   1   1   2   2   3   1   1   2
3  1016277   6   8   8   1   3   4   3   7   1   2
4  1017023   4   1   1   3   2   1   3   1   1   2

In [4]:
# Remove the first column from df and show the first five rows
df.drop([0], axis=1, inplace=True)
df.head()

   1   2   3   4   5   6   7   8   9   10
0   5   1   1   1   2   1   3   1   1   2
1   5   4   4   5   7  10   3   2   1   2
2   3   1   1   1   2   2   3   1   1   2
3   6   8   8   1   3   4   3   7   1   2
4   4   1   1   3   2   1   3   1   1   2

In [5]:
import numpy as np

# Replace ? with np.NaN
df.replace('?', np.NaN, inplace=True)

# Removing rows with NaN
df.dropna(how='any', inplace=True)

In [6]:
from sklearn.model_selection import train_test_split

# Get the explanatory variable values
X = df.iloc[:, :-1].values

# Get the target values
y = np.ravel(df.iloc[:, -1:].values)

# Randomly choose 70% of the data for training
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=0, stratify=y)

In [7]:
from sklearn.preprocessing import StandardScaler

sc = StandardScaler()

# Standardize X_train
X_train_std = sc.fit_transform(X_train.astype(float))

# Standardize X_test
X_test_std = sc.transform(X_test.astype(float))

In [8]:
from sklearn.linear_model import LogisticRegression

# Logistic regression
lr = LogisticRegression()

# Fit the model on X_train_std and y_train
lr.fit(X_train_std, y_train)

# Predict the labels on X_test_std
y_test_pred = lr.predict(X_test_std)

In [9]:
from sklearn.metrics import precision_recall_fscore_support

# Calculate precision, recall, and fscore
precision_recall_fscore_support(y_test, y_test_pred, average='micro')

(0.96097560975609753, 0.96097560975609753, 0.96097560975609753, None)

In [10]:
# Show the predicted label in the first five rows
lr.predict(X_test_std[:5, :])

array([2, 4, 2, 4, 4])

In [11]:
# Show the predicted probabillty of each label in the first five rows
lr.predict_proba(X_test_std[:5, :])

array([[  9.68740378e-01,   3.12596215e-02],
       [  5.46188440e-04,   9.99453812e-01],
       [  9.78328075e-01,   2.16719245e-02],
       [  6.40072478e-04,   9.99359928e-01],
       [  3.49125179e-07,   9.99999651e-01]])